<h1>MY TASKS</h1>

<div class="add_link">
<%= link_to "New Task", tasks_new_path, class: "btn btn-primary btn-lg active"%>
</div>




<% @tasks.each do |task| %>
  <div class="card">
  <h2><%= task.title %></h2>
  <%= link_to "Details", task_path(task), class: "link_hover" %>
  <% if task.completed %>
    <input type="checkbox" checked disabled class="checkbox">
  <% else %>
    <input type="checkbox" disabled class="checkbox">
  <% end %>
  </div>
<% end %>
